@model Students.Web.Models.UserViewModel

@{
    ViewBag.Title = "User Details";
}

<h2>User details</h2>

<div>
    <h5>Id: @Model.Id</h5>
    <h5>Email: @Model.Email</h5>
    <h5>UserName: @Model.UserName</h5>
</div>